<html>
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <a href="/Dashboard">Home</a><br>
        <a href="/profile">About</a><br>
        <a href="/contact">Contact</a>
        <br><br>
        FirstName<input type="text" name="name">
        LastName<input type="text" name="name">
    <br><br>
        <a href="/logout" method="GET">logout</a>
        
    </body>
</html>